* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 900px;
  background-image: linear-gradient(to right, rgba(35, 131, 227, 0.681), rgba(237, 67, 214, 0.73));
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.7;
  color: #eee;
}

.header {
  height: 90vh;
  background-image:
    linear-gradient(to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)),
    url('https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 5px;
}

.heading-primary-sub {
  padding-top: 1rem;
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

h3,
p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  line-height: 30px;
}

.sapa {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-bottom: 30px;
}

.sapa-content {
  /*background-image: url('https://media-cdn-v2.laodong.vn/storage/newsportal/2021/12/28/989179/Anh-Tuyet.jpg');*/
  text-align: left;
  margin: 0 10rem;
}

.SP {
  text-align: center;

}

.content {
  margin: 0 15rem;
  text-align: center  ;
}

.content img {
  width: 100%;
}

.content p {
  font-size: 1.5rem;
  padding: 0 3rem;
  text-align: left;
}
